{% extends "_layout.html" %}

{% block body %}



    <div class="container" style="margin-top:10px;">
    {% if data == None %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4><strong><i class="wi wi-day-thunderstorm"></i> Opps!</strong> Sorry...</h4>
            <p>There were no cities matching your query.  Please try again.</p>
        </div>

    {% else %}
        <table class="table table-stripe table-hover">
            <thead>
                <tr>
                    <th width="2%">Go</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Lat/Lon</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data['RESULTS'] %}
                    <tr>
                        <form method="post" action="{{ url_for('get_location') }}">
                          <td><button type="submit" class="btn btn-xs"><i class="wi wi-barometer"></i></button></td>
                          <td>{{ item['name'] }}</td>
                          <td>{{ item['c'] }}</td>
                          <td>{{ item['lat'] }}/{{ item['lon'] }}</td>
                            <input type="hidden" name="location" value="{{ item['ll'] }}" />
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>


{% endblock %}